.dashboard-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--md-sys-color-surface);
    overflow-y: scroll;
}

.dashboard-container * {
    box-sizing: border-box;
}

/* Base constraint for everything to align to */
.content-inner {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.dashboard-header {
    background: var(--md-sys-color-surface);
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
    height: 64px;
    flex-shrink: 0;
    width: 100%;
}

.header-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}